/********************
 *  BANNER STYLING  *
 ********************/

#banner {
    background-color: var(--tertiary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: var(--secondary);
    display: none;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: -20px !important;
    max-height: none;
    max-width: none;
    overflow: hidden;
    position: relative;
    width: initial;

    a {
        font-weight: bold;
    }

    h2 {
        line-height: normal;
    }

    svg {
        position: absolute;
        z-index: -1;

        &#svgLeft {
            margin-left: -10px;
            left: -8rem;
            top: -2rem;
        }

        &#svgRight {
            bottom: 0;
            right: 0;
        }
    }

    #welcome-message {
        align-items: center;
        display: flex;
        max-width: 1440px;
        z-index: 2;

        a {
            &:link,
            &:hover,
            &:visited,
            &:active {
                color: var(--cc-link);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #welcome-resources,
    #welcome-text {
        flex: 1 1;
        font-size: 19px;
        padding: 2rem;

        h2 {
            font-size: 48px;
            margin-bottom: 20px;
        }
    }
}

#main-outlet {
    div.container:first-of-type {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    .category-header & div.container:first-of-type {
        padding-top: 5px;
    }

    .container:first-of-type .row {
        display: none;
    }
}
