/********************
 *  BANNER STYLING  *
 ********************/

#banner {
    background-color: var(--tertiary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: var(--secondary);
    display: none;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: -20px !important;
    max-height: none;
    max-width: none;
    overflow: hidden;
    position: relative;
    width: initial;

    a {
        font-weight: bold;
    }

    h2 {
        line-height: normal;
    }

    svg {
        position: absolute;
        z-index: -1;

        &#svgLeft {
            margin-left: -10px;
            left: -8rem;
            top: -2rem;
        }

        &#svgRight {
            bottom: 0;
            right: 0;
        }
    }

    #welcome-message {
        align-items: center;
        display: flex;
        max-width: 1440px;
        z-index: 2;

        a {
            &:link,
            &:hover,
            &:visited,
            &:active {
                color: var(--cc-link);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #welcome-resources,
    #welcome-text {
        flex: 1 1;
        font-size: 19px;
        padding: 2rem;

        h2 {
            font-size: 48px;
            margin-bottom: 20px;
        }
    }
}

#main-outlet {
    div.container:first-of-type {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    .category-header & div.container:first-of-type {
        padding-top: 5px;
    }

    .container:first-of-type .row {
        display: none;
    }
}

/********************
 *    SVG STYLING   *
 ********************/

.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  position: relative;
}

.category-boxes .category-box-inner:before,
.category-boxes-with-topics .category-box-inner:before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  width: 100px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100px 35px;
}

/* RED */
.category-boxes .category-box-python .category-box-inner:before,
.category-boxes .category-box-build-chatbots-with-python .category-box-inner:before,
.category-boxes .category-box-Python-FAQ .category-box-inner:before,
.category-boxes .category-box-build-chatbots-with-python-faq  .category-box-inner:before,
.category-boxes-with-topics .category-box-getting-started .category-box-inner:before,
.category-boxes-with-topics .category-box-Community-Organizers .category-box-inner:before,
.category-boxes-with-topics .category-box-Meetups-and-Community-Events .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/9fbd09402bf67787a65c85658c001295174b6680.svg");
}

/* BRAND PURPLE */
.category-boxes .category-box-general-programming .category-box-inner:before,
.category-boxes .category-box-codecademy .category-box-inner:before,
.category-boxes .category-box-general-coding-FAQ .category-box-inner:before,
.category-boxes .category-box-codecademy-faq .category-box-inner:before,
.category-boxes .category-box-career-faq .category-box-inner:before,
.category-boxes-with-topics .category-box-learn-from-home-club .category-box-inner:before,
.category-boxes-with-topics .category-box-hq-announcements .category-box-inner:before,
.category-boxes-with-topics .category-box-super-user-pro-lounge .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/d2999f566307d4f87ca7b92c08231b7a77d39589.svg");
}

/* DARK BLUE */
.category-boxes .category-box-html .category-box-inner:before,
.category-boxes .category-box-css .category-box-inner:before,
.category-boxes .category-box-sass .category-box-inner:before,
.category-boxes .category-box-make-and-deploy-a-website .category-box-inner:before,
.category-boxes .category-box-HTML-FAQ .category-box-inner:before,
.category-boxes .category-box-CSS-FAQ .category-box-inner:before,
.category-boxes .category-box-Sass-FAQ .category-box-inner:before,
.category-boxes .category-box-make-and-deploy-a-website-FAQ .category-box-inner:before,
.category-boxes-with-topics .category-box-careers-journeys-stories .category-box-inner:before,
.category-boxes-with-topics .category-box-corner-bar .category-box-inner:before,
.category-boxes-with-topics .category-box-Random .category-box-inner:before,
.category-boxes-with-topics .category-box-tips-and-resources .category-box-inner:before,
.category-boxes-with-topics .category-box-monthly-features .category-box-inner:before,
.category-boxes-with-topics .category-box-faq-updates .category-box-inner:before,
.category-boxes-with-topics .category-box-codecademy-pro .category-box-inner:before,
.category-boxes-with-topics .category-box-project-bug-reporting .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/93dd676a85e128410aadba06fd95a7df6006832e.svg");
}

/* MINT */
.category-boxes .category-box-javascript .category-box-inner:before,
.category-boxes .category-box-jquery .category-box-inner:before,
.category-boxes .category-box-angular-js .category-box-inner:before,
.category-boxes .category-box-express-js .category-box-inner:before,
.category-boxes .category-box-node-js .category-box-inner:before,
.category-boxes .category-box-React .category-box-inner:before,
.category-boxes .category-box-javascript-FAQ .category-box-inner:before,
.category-boxes .category-box-jQuery-FAQ .category-box-inner:before,
.category-boxes .category-box-Angular-JS-FAQ .category-box-inner:before,
.category-boxes .category-box-express-js-FAQ .category-box-inner:before,
.category-boxes .category-box-Node-JS-FAQ .category-box-inner:before,
.category-boxes .category-box-React-JS-FAQ .category-box-inner:before,
.category-boxes-with-topics .category-box-Feature-Course-Requests .category-box-inner:before,
.category-boxes-with-topics .category-box-featured-challenges .category-box-inner:before,
.category-boxes-with-topics .category-box-Codecademy-Bug-Reporting .category-box-inner:before,
.category-boxes-with-topics .category-box-support .category-box-inner:before,
.category-boxes-with-topics .category-box-30-day-challenge .category-box-inner:before,
.category-boxes-with-topics .category-box-super-users-lounge .category-box-inner:before,
.category-boxes-with-topics .category-box-good-users .category-box-inner:before,
.category-boxes-with-topics .category-box-stock-answers .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/0f594f7ca67cb853c1b3cb488d0b68b1f81473a4.svg");
}

/* YELLOW */
.category-boxes .category-box-Ruby .category-box-inner:before,
.category-boxes .category-box-rails .category-box-inner:before,
.category-boxes .category-box-swift .category-box-inner:before,
.category-boxes .category-box-Ruby-FAQ .category-box-inner:before,
.category-boxes .category-box-Rails-FAQ .category-box-inner:before,
.category-boxes .category-box-swift-faq .category-box-inner:before,
.category-boxes-with-topics .category-box-international .category-box-inner:before,
.category-boxes-with-topics .category-box-Pro .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/8f18c04010888b79b3dc95995a74d4b54d088d03.svg");
}

/* LIGHT BLUE */
.category-boxes .category-box-c-plus-plus .category-box-inner:before,
.category-boxes .category-box-c .category-box-inner:before,
.category-boxes .category-box-java .category-box-inner:before,
.category-boxes .category-box-php .category-box-inner:before,
.category-boxes .category-box-r-category .category-box-inner:before,
.category-boxes .category-box-sql .category-box-inner:before,
.category-boxes .category-box-go .category-box-inner:before,
.category-boxes .category-box-c-plus-plus-FAQ .category-box-inner:before,
.category-boxes .category-box-c-sharp-FAQ .category-box-inner:before,
.category-boxes .category-box-java-FAQ .category-box-inner:before,
.category-boxes .category-box-php-FAQ .category-box-inner:before,
.category-boxes .category-box-r-FAQ .category-box-inner:before,
.category-boxes .category-box-SQL-FAQ .category-box-inner:before,
.category-boxes .category-box-Kotlin-FAQ .category-box-inner:before,
.category-boxes-with-topics .category-box-ask-a-mod .category-box-inner:before,
.category-boxes-with-topics .category-box-moderators .category-box-inner:before,
.category-boxes-with-topics .category-box-draggable-interactions-with-jquery-ui .category-box-inner:before,
.category-boxes-with-topics .category-box-introduction-to-react-native .category-box-inner:before,
.category-boxes-with-topics .category-box-introduction-to-ruby .category-box-inner:before,
.category-boxes-with-topics .category-box-analyzing-financial-data-with-python .category-box-inner:before,
.category-boxes-with-topics .category-box-learn-php-classes-and-objects .category-box-inner:before,
.category-boxes-with-topics .category-box-kotlin .category-box-inner:before,
.category-boxes-with-topics .category-box-learn-php-form-validation .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/f11f7e9c825b8c6cdf268617f910b66b373402b6.svg");
}

/* OTHER PURPLE */
.category-boxes .category-box-command-line .category-box-inner:before,
.category-boxes .category-box-git .category-box-inner:before,
.category-boxes .category-box-command-line-FAQ .category-box-inner:before,
.category-boxes .category-box-git-FAQ .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/b0700454678ed08a63e851e74e4131cc123c1ba4.svg");
}

/* GREY */
.category-boxes .category-box-amazon-alexa .category-box-inner:before,
.category-boxes .category-box-ibm-watson .category-box-inner:before,
.category-boxes .category-box-amazon-alexa-FAQ .category-box-inner:before,
.category-boxes .category-box-ibm-watson-FAQ .category-box-inner:before,
.category-boxes .category-box-uncategorized .category-box-inner:before,
.category-boxes .category-box-personal-projects .category-box-inner:before,
.category-boxes .category-box-challenge-projects .category-box-inner:before,
.category-boxes .category-box-skill-path-projects .category-box-inner:before,
.category-boxes .category-box-capstone-projects .category-box-inner:before,
.category-boxes-with-topics .category-box-read-only .category-box-inner:before,
.category-boxes-with-topics .category-box-meta-beta-testers .category-box-inner:before,
.category-boxes-with-topics .category-box-teachers .category-box-inner:before {
  background-image: url("https://codecademy-public-assets.s3.amazonaws.com/community/border/65c932294f85579101aadc6b8b60b4c651596a9d.svg");
}