/********************
 *  BANNER STYLING  *
 ********************/
 
#main-outlet {
    margin: 0; 
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 480px) {
    #banner {
        display: none;
    }
}

@media (max-width: 1048px) {
    #banner #welcome-resources {
        display: none;
    }
}