#main-outlet {
    padding-left: 0;
    padding-right: 0;
    margin: 0; 
}

@media (max-width: 1048px) {
    #banner #welcome-resources {
        display: none;
    }
}

/********************
 *  BANNER STYLING  *
 ********************/

@media (max-width: 480px) {
    #banner {
        display: none;
    }
}